html,
body {
  margin: 0;
  padding: 0;
  background-color: #E8F5E8;
}

.main-header {
  background-color: #4CAF50;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  width: 100%;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #2E7D32;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #4CAF50;
  padding: 10px;
}

button {
  text-align: center;
  background-color: #388E3C;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}
